<!-- proyectos -->
<div class="card" style="margin:16px;">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title col-11">Proyectos</h5>
            <div class="btn-edit col">
                <a href="#"><i class="fa fa-plus" onclick="alert('agregar proyecto')"></i></a>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-1">
                <img src="" alt="icono" style="width:70px;">
            </div>
            <div class="col-10">
                <h6>U-testo Stories</h6>
            </div> 
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="card-text"><small><i>sitio web de viajes en moto</i></small></p>
            </div>
            <div class="col-1">
                <a href="#" class=""><i class="fa fa-pen" onclick="alert('editar')"></i></a> 
                <a href="#" class=""><i class="fa fa-trash" onclick="alert('eliminar')"></i></a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-1">
                <img src="" alt="icono" style="width:70px;">
            </div>
            <div class="col-10">
                <h6>Conf Bs As</h6>
            </div> 
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="card-text"><small><i>sitio web de un ciclo de conferencias</i></small></p>
            </div>
            <div class="col-1">
                <a href="#" class=""><i class="fa fa-pen" onclick="alert('editar')"></i></a> 
                <a href="#" class=""><i class="fa fa-trash" onclick="alert('eliminar')"></i></a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-1">
                <img src="" alt="icono" style="width:70px;">
            </div>
            <div class="col-10">
                <h6>Convertidor</h6>
            </div> 
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="card-text"><small><i>sitio web para cotizar divisas</i></small></p>
            </div>
            <div class="col-1">
                <a href="#" class=""><i class="fa fa-pen" onclick="alert('editar')"></i></a> 
                <a href="#" class=""><i class="fa fa-trash" onclick="alert('eliminar')"></i></a>
            </div>
        </div>

    </div>
</div>

