<!-- encabezado -->
<div class="card" style="margin:16px">
    <img [src]="fondo" class="card-img-top col-2" alt="...">
    <div class="card-body">
        <div class="row">
            <img [src]="zeta" alt="fotoMD.jpg" id="foto">
            <div class="btn-edit col-1"><a href="#" class="btn-right"><i class="fa fa-pen" onclick="alert('editar')"></i></a>
            </div>
        </div>
        <h3 class="card-title">{{miPorfolio.name}}</h3>
        <p class="card-text"><i>{{miPorfolio.profesion}} - <mark><b>{{miPorfolio.competencias}}</b></mark></i></p>
        <p class="card-text">Mendoza (Argentina) - <a href="" onclick="alert('movil: 261 722 5526 \nemail: mmdohmen@hotmail.com')">Informacion de contacto</a></p>
        <a href="#" class="btn btn-primary">Tengo interes en</a>
        <a href="#" class="btn btn-light">Añadir seccion</a>
        <a href="#" class="btn btn-light">Más</a>
    </div>
</div>

